   # Data Analysis Interview Challenge : Ultimate

# Part 1 : Exploratory data analysis

#### Load our packages

In [1]:
# Importing Packages
import json
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, mean_squared_error
from sklearn.model_selection import train_test_split

In [2]:
# Reading json file
logins_df = pd.read_json('/Users/devonbrewster/Downloads/ultimate_challenge/logins.json')

In [3]:
logins_df

               login_time
0     1970-01-01 20:13:18
1     1970-01-01 20:16:10
2     1970-01-01 20:16:37
3     1970-01-01 20:16:36
4     1970-01-01 20:26:21
...                   ...
93137 1970-04-13 18:50:19
93138 1970-04-13 18:43:56
93139 1970-04-13 18:54:02
93140 1970-04-13 18:57:38
93141 1970-04-13 18:54:23

[93142 rows x 1 columns]

In [4]:
logins_df.info

<bound method DataFrame.info of                login_time
0     1970-01-01 20:13:18
1     1970-01-01 20:16:10
2     1970-01-01 20:16:37
3     1970-01-01 20:16:36
4     1970-01-01 20:26:21
...                   ...
93137 1970-04-13 18:50:19
93138 1970-04-13 18:43:56
93139 1970-04-13 18:54:02
93140 1970-04-13 18:57:38
93141 1970-04-13 18:54:23

[93142 rows x 1 columns]>

#### Add a column called "count" to represent the number of logins during each time

In [5]:
logins_df['count'] = 1

In [6]:
logins_df

               login_time  count
0     1970-01-01 20:13:18      1
1     1970-01-01 20:16:10      1
2     1970-01-01 20:16:37      1
3     1970-01-01 20:16:36      1
4     1970-01-01 20:26:21      1
...                   ...    ...
93137 1970-04-13 18:50:19      1
93138 1970-04-13 18:43:56      1
93139 1970-04-13 18:54:02      1
93140 1970-04-13 18:57:38      1
93141 1970-04-13 18:54:23      1

[93142 rows x 2 columns]

In [7]:
logins_df.set_index('login_time', inplace=True)

#### Aggregate these login counts based on 15­ minute time intervals

In [8]:
df_sampled = logins_df.resample("15T").agg('sum')

In [10]:
logins_df.reset_index(inplace=True)

In [15]:
logins_df.head()

           login_time  count
0 1970-01-01 20:13:18      1
1 1970-01-01 20:16:10      1
2 1970-01-01 20:16:37      1
3 1970-01-01 20:16:36      1
4 1970-01-01 20:26:21      1